div {
}

#coauthors {
  margin-left:20px;
  margin-top:0px;
  margin-bottom:0px;
}

#paper-genre {
  margin-left:20px;
  margin-top:0px;
  margin-bottom:0px;
}

#paper-title {
  margin-bottom:0px;
}

